@model IEnumerable<OffRoad.Models.Event>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row banner">
        <div class="col-md-12">
            <img src="~/Content/Image/header_event.png" class="img-responsive" />
        </div>
    </div>
</div>

<p>
    
</p>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <span>Restez informé et suivez les évènements de l'association :</span>
        </div>
        @if(ViewBag.Role == 1 || ViewBag.Role == 2)
        {
            <div class="col-md-1">
                @Html.ActionLink("Nouvel Evenement", "Create", "Events", new { @class = "btn btn-success" })
            </div>
        }
    </div>
    <br />
    @foreach (var item in Model)
    {

        <div class="row">
            <div class="col-md-8 col-md-offset-2 block-event">
                <div class="row">
                    <div class="col-md-1 date">
                        @item.BeginDate.Value.ToString("dd \n MMM")
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-11 title">
                                <span>@item.Title</span>
                            </div>
                            <div class="col-md-1">
                                <span class="glyphicon glyphicon-chevron-down" id="glyph_@item.Id" onclick="event_plus(@item.Id)"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-time"></span>
                                <span>9h00 - 17h00</span>
                            </div>
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-map-marker"></span>
                                <span>@item.Place</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="@Url.Action("Details","Events",new {id = item.Id})">Voir l'évènement</a>
                            </div>
                            @if (ViewBag.Role == 1)
                            {
                            <div class="col-md-2">
                                <a href="@Url.Action("Edit", "Events", new { id = item.Id })"> <span class="glyphicon glyphicon-pencil"></span></a>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row event_detail" id="event_@item.Id">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <span>Détail:</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Description))</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript" >
    function event_plus(x) {
        
        block = document.getElementById("event_" + x);
        glyph = document.getElementById("glyph_" + x);

        if (block.style.display == "block") {
            block.style.display = "none";
            glyph.className = "glyphicon glyphicon-chevron-down";
        }
        else {
            block.style.display = "block";
            glyph.className = "glyphicon glyphicon-chevron-up";
        }

    }
</script>
