@model OffRoad.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid">
    <div class="row banner">
        <div class="col-md-12">
            <div id="image-home">
                <img class="img-responsive" src="~/Content/Image/banniere-article.png" />
            </div>
        </div>
    </div>
</div>

<div class="container">
        <br />
        <span id="article-title">@Html.DisplayFor(model => model.Title)</span><br />
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        <span class="article-element">@Html.DisplayFor(model => model.CreateDate)</span>
        <span class="glyphicon glyphicon-user"></span>
        <span class="article-element">@Html.DisplayFor(model => model.Author.NickName)</span>
        <span class="glyphicon glyphicon-comment"></span>
        <span class="article-element">5</span><br /><br />
        @Html.DisplayNameFor(model => model.Text)
</div>
@if(ViewBag.Comments != null)
{
foreach (var comment in ViewBag.Comments)
{
    <div class='col-md-8'>
        <div class='row com'>
            <div class="col-md-3">
                <div>
                    @{
                        OffRoad.Models.ArticleComment com = new OffRoad.Models.ArticleComment();
                        OffRoad.Context.DBContext db = new OffRoad.Context.DBContext();
                        com = comment;
                        var requeteUser = from b in db.Users
                                          where b.Id.Equals(com.User.Id)
                                          select b;
                        var infoUserComment = requeteUser.FirstOrDefault();

                    }
                    @if (@infoUserComment == null)
                    {
                        <p>Publié par un utilisateur n'ayant plus de compte</p>
                    }
                    else
                    {
                        <p>@infoUserComment.NickName</p>
                    }

                </div>
            </div>
            <div class="col-md-9">
                <div>@comment.CreateDate.ToString("dd/MM/yyyy HH:mm")</div>
                <div>@Html.Raw(System.Web.HttpUtility.HtmlDecode(comment.Text))</div>
            </div>
        </div>
    </div>}
                        }

<div class="container">
@using (Html.BeginForm("CreateComment", "Articles", new { idArticle = Model.Id}, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-8">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <textarea Id="commentaire" name="Text" rows="6"> </textarea>
            </div>

            <div class="form-group">
                <a href="/Articles/Index" class="btn btn-default">Précédent</a>
                <input type="submit" value="Créer" class="btn btn-default" />
            </div>
        </div>
    </div>
}
</div>
<script>
    CKEDITOR.replace('Text', { customConfig: 'configcom.js' });
</script>