@model IEnumerable<OffRoad.Models.Article>
@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row banner">
        <div class="col-md-12">
            <div id="image-home">
                <img style="width : 62%" class="img-responsive" src="~/Content/Image/home.png" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <span id="titre_article">Dérnières actualitées</span>
            </div>
        </div>

        <br />
        <span id="article-title">Derniers Articles</span><br /><br />
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-2">
                    <a href="@Url.Action("Details", "Articles", new {id = item.Id})">
                        <img width="126" class="img-responsive" src="~/Content/Image/offroad.jpg" />
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span id="article_auteur">@Html.DisplayFor(model => item.Author.NickName)</span>
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        <span>@Html.DisplayFor(model => item.CreateDate)</span>
                    </div>
                    <div class="row">
                        <a href="@Url.Action("Details", "Articles", new {id = item.Id})">
                            <span id="article-title">@Html.DisplayFor(model => item.Title)</span>
                        </a>
                    </div>
                    <div class="row">
                        <span id="article-corps">EJAZOFAEOHGIZRJOLEJOFJAJOLAZJodjazfhoahfikaehvknezk,nldjflajo,    zld,z;ljflezjfojzaolf,celm</span>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4" id="menu">
        <div class="row">
            <div class="col-md-12" id="titre_memo">
                <span>Le mémo</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span id="article-title">Les événements OffRoad</span><br /><br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="row">
                        <span class="col-md-10 col-md-offset-1 memo_tire">Sortie en motos</span>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 memo_descri">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            <span>25/05/2016</span>
                            <a href="#" >Voir l'évènement</a>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="row">
                        <span class="col-md-10 col-md-offset-1 memo_tire">Sortie en motos</span>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 memo_descri">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            <span>25/05/2016</span>
                            <a href="#">Voir l'évènement</a>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="row">
                        <span class="col-md-10 col-md-offset-1 memo_tire">Sortie en motos</span>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 memo_descri">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            <span>25/05/2016</span>
                            <a href="#">Voir l'évènement</a>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>

    </div>
</div>