@model OffRoad.Models.User
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <br /><br />
    <form action="/BackOffice/EditOwnAccount" enctype="multipart/form-data" method="post" class="col-md-6">
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.Id" />
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <td>
                    Pseudo
                </td>
                <td>
                    @Model.NickName
                    @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    Prénom
                </td>
                <td>
                    @Html.EditorFor(m => m.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    Nom
                </td>
                <td>
                    @Html.EditorFor(m => m.LastName)
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    Email
                </td>
                <td>
                    @Html.EditorFor(m => m.Email)
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    Birthday
                </td>
                <td>
                    <input type="text" id="birthday" name="Birthday" value="@Model.Birthday" />
                </td>
            </tr>
            <tr>
                <td>
                    City
                </td>
                <td>
                    <input type="text" id="city" name="City" value="@Model.City" />
                </td>
            </tr>
            <tr>
                <td>
                    Gender
                </td>
                <td>
                    @if (Model.Gender == 0)
                    {
                        @:<input type="radio" name="Gender" value="0" checked> Male<br>
                        @:<input type="radio" name="Gender" value="1"> Female<br>
                }
                    else
                    {
                        @:<input type="radio" name="Gender" value="0"> Male<br>
                        @:<input type="radio" name="Gender" value="1" checked> Female<br>
                }
                </td>
            </tr>

        </table>
        <a id="button-color" class="btn btn-info" href="/BackOffice/Index">Précédent</a>
        <input type="submit" value="Modifier" class="btn btn-success" />
        @Html.ActionLink("Supprimer", "Desactive", new { Id = Model.Id }, new { @class = "btn btn-danger" })
    </form>
</div>

<script type="text/javascript">
    $(function () {
        $('#birthday').datetimepicker({
            locale: 'fr',
            format: 'MM/DD/YYYY HH:mm',
            viewMode: 'years'
        });
    });
</script>


